/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Helvetica, Arial, sans-serif;
}
#wrapper {
}
.clear{
  clear: both;
}
.text-white{
  color: #fff !important;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000000;
  z-index: 1;
}
.nav{
  display: inline-block;
}
.nav, .subnav{
  list-style: none;
}
.nav > li {
  display: inline-block;
}
.nav li{
  position: relative;
}
.nav > li > a {
  color: #fff;
  text-transform: uppercase;
}
.nav li a {
  text-decoration: none;
  padding: 0 24px;
  line-height: 46px;
  display: inline-block;
}
.nav > li:hover > a,
.nav .subnav li:hover {
  color: #000;
  background-color: #ccc;
}
.nav .subnav {
  display: none;
  top: 100%;
  left: 0;
  min-width: 160px;
  position: absolute;
  background-color:#fff;    
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.nav li:hover .subnav{
  display: block;
} 
.nav .subnav a{
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}
#header .search-btn{
  float: right;
  padding: 0 21px;
  text-align: center;
}
#header .search-btn:hover{
  cursor: pointer;
  background-color: #f44336;
}
#header .ti-search{
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}
#slider {
  max-width: 2000px;
  margin-top: 46px;
  padding-top: 50%;
  background: url('https://www.w3schools.com/w3images/la.jpg') top center / cover no-repeat;
  position: relative;
}
#slider .text-content{   
  position: absolute;
  left: 50%;
  bottom: 47px;
  transform: translate(-50%,0%);
  text-align: center;
  color: #fff;
}
#slider .text-heading{
  font-weight: 500;
  font-size: 23px;

}
#slider .text-description{

  font-size: 15px;
  margin-top: 25px;
}
#content {
  position: relative;
}
#content .content-section{
  max-width: 800px;
  padding: 64px 0;
  margin-left: auto;
  margin-right: auto;
}
#content .section-heading{
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
}
#content .section-sub-heading{
  font-size: 15px;
  margin-top: 25px;
  text-align: center;
  font-style: italic;
  opacity: 0.6;
}
#content .about-text{
  margin-top: 25px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.6;
}
#content .members-list{
  width: 100%;
  padding: 32px 0;
}
.members-list .member-item{
  text-align: center;
  float: left;
  width: 33.3333%;   
}
.members-list .member-name{
  font-size: 15px;
  margin:  15px 0;
}
.members-list .member-img{
  width: 60%;
  border-radius: 4px;
}
/* TOUR SECTION */
.tour-section{
  background-color: #000;

}
.tour-section .ticket-lists{
  background-color: #fff;
  list-style: none;
  margin-top: 40px;
  border: 1px solid #ccc;
}
.tour-section .ticket-lists li{
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ccc;
}
.tour-section .ticket-lists .sold-out{
  background-color: #f44336;
  color: #fff;
  font-weight: 500;
  margin-left: 16px;
  padding: 3px 4px;
}
.tour-section .ticket-lists .quantity{
  float: right;
  color: #fff;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  background-color: #000;
  margin-top: -3px;
}
/* PLACES */
.place-list{
  margin: 32px -8px 48px;
}
.place-item{
  width: 33.3333%;
  float: left;
  padding: 0 8px;
}
.place-img{
  width: 100%;
  display: block;
}
.place-img:hover{
  opacity: 0.6;
}
.place-body{
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}
.place-heading{
  font-size: 15px;
  margin: 15px 0;
}
.place-time{
  margin-bottom: 15px;
  opacity: 0.6;
}
.place-desc{
  line-height: 1.4;
}
.place-buy-btn{
  margin-top: 15px ;
  text-decoration: none;
  color: #fff;
  padding:  8px 16px;
  background-color: #000;
  display: inline-block;
}
.place-buy-btn:hover{
  background-color: #ccc;
  color: #000;
}
#footer {
}
